@model Cygnet.EmployeeOnboardingApp.Data.Model.VariousCardDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>VariousCardDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Passport_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Passport_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Passport_Validity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Passport_Validity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Esic_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Esic_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vehicle_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehicle_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pension_Payment_OrderNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pension_Payment_OrderNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Scheme_Certificate_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Scheme_Certificate_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Aadhar_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aadhar_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Election_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Election_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RowVersion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RowVersion)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>