@model Cygnet.EmployeeOnboardingApp.Data.Model.WorkingHistoryDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>WorkingHistoryDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name_Company)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name_Company)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Addr_Company)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Addr_Company)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Designation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Designation_Person_ReportingTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Designation_Person_ReportingTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Doj)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Doj)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Dol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Monthly_Gross_Salary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Monthly_Gross_Salary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reason_For_Leaving)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reason_For_Leaving)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Detailed_By)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Detailed_By)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pension_No)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pension_No)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reporting_To)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reporting_To)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ctc_Perannum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ctc_Perannum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ref1_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ref1_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ref1_Phn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ref1_Phn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ref1_Addr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ref1_Addr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ref2_Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ref2_Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ref2_Phn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ref2_Phn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ref2_Addr)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ref2_Addr)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RowVersion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RowVersion)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
