@model Cygnet.EmployeeOnboardingApp.Data.Model.AccomodationDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AccomodationDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rent_Ownership)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rent_Ownership)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner_Contact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner_Contact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner_Addr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner_Addr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner_Occupation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner_Occupation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Neigh1_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neigh1_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Neigh1_Contact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neigh1_Contact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Neigh1_Occupation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neigh1_Occupation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Neigh2_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neigh2_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Neigh2_Contact)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neigh2_Contact)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Neigh2_Occupation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Neigh2_Occupation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RowVersion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RowVersion)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>