@model Cygnet.EmployeeOnboardingApp.Data.Model.BankDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BankDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Acc_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acc_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ifsc_Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ifsc_Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pan_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pan_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Uan_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uan_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ins_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ins_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mediclaim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mediclaim)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Life_Ins)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Life_Ins)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fam_PensionScheme)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fam_PensionScheme)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pf_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pf_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RowVersion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RowVersion)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>